<footer class="footer">
  <div class="container">
    <div class="grid grid--footer grid--one-col-mobile">

      <nav aria-label="legal">
        <ul class="unstyled-list">

          {{ range .Site.Menus.required }}
            <li>
              <a href="{{ .URL }}">
                {{ .Name }}
              </a>
            </li>
          {{ end }}

        </ul>
      </nav>

      <div class="footer__logo logo logo--footer">
        {{ partial "svg/logo.html" }}
      </div>

      <nav aria-label="site-information">
        <ul class="unstyled-list">

          {{ range .Site.Menus.info }}
            <li>
              <a href="{{ .URL }}">
                {{ .Name }}
              </a>
            </li>
          {{ end }}

        </ul>
      </nav>

    </div>
  </div>
</footer>
