<header class="main-header">
  <div class="container grid grid--header">

    <a
      class="button main-header__skip-to-content"
      href="#content"
    >
      Skip to Main Content
    </a>

    <a class="logo logo--header" href="{{ .Site.BaseURL }}" aria-label="Go home">
      <svg xmlns="http://www.w3.org/2000/svg" id="Logo" viewBox="0 0 305.2 78.4" aria-hidden="true">
        <path d="M0 0v7.2l71 71h33.8l47.7-47.7 47.9 47.9H234l71.2-71.2V0h-43.4l-47.7 47.6-48-47.6h-26.9l-48 47.7L43.5 0z" class="st0"/>
        <path d="M67.5 0v7.2L91.2 31l23.6-23.6-7.4-7.4zm170.3 0v7.2L214.1 31 190.5 7.4l7.4-7.4zM128.5 71.8v6.6h48.2v-6.6l-24.2-24.3z" class="st1"/>
      </svg>
      <span class="visually-hide">{{ .Site.Title }}</span>
    </a>

    <button
      class="main-header__button hamburger"
      aria-expanded="false"
      aria-controls="menu"
    >
      Menu
    </button>

    <nav
      class="main-nav"
      id="menu"
      aria-label="primary"
    >

      <ul class="unstyled-list">

        {{ if .Site.Menus.main }}

          {{ partial "navigation/main-navigation" . }}

        {{ end }}

      </ul>

    </nav>

  </div>
</header>
