*,
*:after,
*:before {
  @include box-sizing(border-box);
}

::-moz-selection { background: $yellow; }
::selection { background: $yellow;}

img {
	max-width: 100%;
}

body {
  color: $white;
  background-color: #0e0e11;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}
