*,
*:after,
*:before {
  @include box-sizing(border-box);
}

::-moz-selection { background: $yellow; }
::selection { background: $yellow;}

img {
	max-width: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}
