*,
*:after,
*:before {
  @include box-sizing(border-box);
}

::-moz-selection { background: $yellow; }
::selection { background: $yellow;}

img,
svg {
	max-width: 100%;
}

body {
  color: $gray;
  background-color: #0e0e11;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  @include screen-below(1025px) {
    -webkit-overflow-scrolling: touch; 
  }
}

h1,
h2,
h4 {
  color: $white;
}

h4 {
  font-weight: 400;
}
