h1 {
  @include font-size($h1-font-sizes);
}

h2 {
  @include font-size($h2-font-sizes);
}

h3 {
  font-weight: 400;
  @include font-size($h3-font-sizes);
}

h4 {
  @include font-size($h4-font-sizes);
}

h5 {
  @include font-size($h5-font-sizes);
}

p {
  @include font-size($p-font-sizes);
  line-height: 2;
  @include screen-above(768px) {
    letter-spacing: 0.15em;
    margin-right: -0.15em;
    margin-left: 0;
  }
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.2em;
  margin: 0em -0.2em 0em 0;
  @include screen-above(768px) {
    letter-spacing: 0.4em;
    margin: 0em -0.4em 0em 0;
  }
}

h4,
h5 {
  letter-spacing: 0.15em;
  margin: 0em -0.15em 0em 0;
  span {
    color: $gray;
  }
  @include screen-above(768px) {
    letter-spacing: 0.2em;
    margin: 0em -0.2em 0em 0;
  }
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}
