{{ define "main" }}

<section class="spacing">
  <div class="container">

    <header class="internal-header center">
      <h1>{{ .Title }}</h1>
    </header>

    <form class="grid form" name="apply" action="/success/" netlify>

      <label for="name">
        <span class="visually-hide">
          Your Name
        </span>
        <input type="text" id="name" name="name" placeholder="Name" required />
      </label>

      <label for="email">
        <span class="visually-hide">
          Your Email
        </span>
        <input type="email" id="email" name="email" placeholder="Email" />
      </label>

      <div class="form__select">
        <label class="visually-hide" for="job-select">Choose a career:</label>

        <i></i>

        <select name="jobs" id="job-select" required>

          <option value="">Select Career</option>

          {{ range .Site.Taxonomies.series.careers }}
            <option value="{{ lower .Title }}">{{ .Title }}</option>
          {{ end }}

        </select>
      </div>

      <label class="form__resume custom-file-input" for="resume">

        <span>Upload Resume</span>

        <input name="resume" id="resume" type="file" accept=".pdf, .doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />

      </label>

      <button class="button" type="submit">Submit</button>

    </form>

  </div>
</section>

{{ end }}
