<div
  class="list-article relative"
  role="group"
  aria-label="article"
>
  <div class="border">

    <div class="content">

      {{ if isset .Params "images" }}

        <img
          class="lazy"
          data-src="{{ index (.Params.images) 0 }}"
          alt="{{ .Params.thumbnailAlt }}"
        />

      {{ end }}

      <div>
        <h2>{{ .Title }}</h2>
      </div>

      {{ if isset .Params "description" }}

        <p>{{ .Params.description }}</p>

      {{ end }}

    </div>

    <a
      class="button pseudo-link"
      href="{{ .Permalink }}"
      aria-label="Go to {{ .Title }}"
    >
      View Article
    </a>

  </div>
</div>
