<div
  class="list-article relative"
  role="group"
  aria-label="article"
>

  <div class="list-article__content">

    {{ if isset .Params "images" }}

      <img
        data-src="{{ index (.Params.images) 0 }}"
        alt="{{ .Params.thumbnailAlt }}"
      />

    {{ end }}

    <h2>{{ .Title }}</h2>

    <time
      class="visually-hide"
      datetime="{{ .PublishDate.Format "2006-01-02" }}"
    >
      {{ .PublishDate.Format "January 2, 2006" }}
    </time>

    {{ if isset .Params "description" }}

      <p>{{ .Params.description }}</p>

    {{ end }}

  </div>

  <a class="button pseudo-link" href="{{ .Permalink }}">

    {{ if .IsPage }}

      View Article

    {{ else }}

      View {{ .Title }}

    {{ end }}

  </a>

</div>
