{{ define "main" }}

<div class="page spacing">
  <div class="container container--page">
    <article class="page__content">

      <header class="internal-header center">
        <h1>{{ .Title }}</h1>
        <time class="letter-spacing">
          {{ .PublishDate.Format "January 2, 2006" }}
        </time>
      </header>

      {{ .Content }}

    </article>
  </div>

  {{ if or .PrevInSection .NextInSection }}
    <div class="pagination">
      <div class="grid grid--two-column">

        {{ with .PrevInSection }}
          <a class="button pagination-item pagination-item--prev" href="{{ .Permalink }}">
            Previous Post
          </a>
        {{ end }}

        {{ with .NextInSection }}
          <a class="button pagination-item pagination-item--next" href="{{ .Permalink }}">
            Next Post
          </a>
        {{ end }}

      </div>
    </div>
  {{ end }}

</div>

{{ end }}
