// Maps

$h1-font-sizes: (
  null  : 24px,
  500px : 2em,
  800px : 2.5em,
  1024px : 3em,
  1280px : 3.5em,
  1440px : 3.75em
);

$h2-font-sizes: (
  null  : 26px,
  480px : 1.625em,
  640px : 2em,
  800px : 2.25em
);

$h3-font-sizes: (
  null  : 18px,
  480px : 1.375em,
  640px : 1.5em,
  800px :1.5625em
);

$h4-font-sizes: (
  null  : 16px,
  480px : 1em
);

$h5-font-sizes: (
  null  : 14px,
  480px : 0.875em
);

$p-font-sizes: (
  null  : 14px,
  480px : 0.875em
);
