// Colors

$white : #FFFFFF;
$black : #000000;

// Breakpoints

$desktop23     : 1920px;
$desktop20     : 1600px;
$desktop19     : 1440px;
$noteBook15    : 1366px;
$noteBook13    : 1280px;
$iPad          : 1024px;
$iPadMini      : 768px;
$iPhonePlus    : 414px;
$iPhone        : 375px;