.hero {
  position: relative;
  z-index: 1;
  display: flex;
  overflow: hidden;
  text-align: center;
  outline: none;
  justify-content: center;
  align-items: center;

  .container {
    margin: 0;
  }

  h1 {
    opacity: 1;
    position: relative;
    line-height: 1.5;
    padding-top: 270px;
    z-index: 8;

    @include screen-below(1440px) {
      padding-top: 203px;
    }

    @include screen-below(1024px) {
      padding-top: 135px;
    }
  }

  &__subheading {
    display: block;
    z-index: 8;
    position: relative;
    padding-bottom: 220px;
    text-transform: uppercase;

    @include screen-below(1440px) {
      padding-bottom: 165px;
    }

    @include screen-below(1024px) {
      padding-bottom: 110px;
    }

    @include screen-below(768px) {
      padding-bottom: 55px;
    }
  }

  &__background {
    @include size(100%);
    @include background-cover('/images/weyland-hero.jpg');
    @include absolute(0, 0, 0, 0);
    z-index: -1;
  }

  &__grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;

    @include screen-below(1440px) {
      grid-template-columns: 2fr 1fr 1fr;
    }

    @include screen-below(1280px) {
      grid-template-columns: 2fr 1fr;
    }

    @include screen-below(1024px) {
      grid-template-columns: 1fr;
    }
  }

  &__grid-item {
    padding: 43px 30px;
    order: 0;
    color: $white;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-left: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    text-transform: uppercase;

    span {
      color: $gray;
    }

    &--span2 {
      @include font-size($h4-font-sizes);

      @include screen-below(1024px) {
        border-right: 1px solid rgba(255, 255, 255, .1);
      }
    }

    &--operation-founded {
      @include font-size($h5-font-sizes);

      @include screen-below(1280px) {
        display: none;
      }
    }

    &--operation-colonist {
      @include font-size($h5-font-sizes);

      @include screen-below(1440px) {
        display: none;
      }
    }

    &--operation-cta {
      color: $black;
    }

    @include screen-above(1300px) {
      padding: 43px 58px;
    }
  }
}
