.mission {
  padding: 60px 0;
  text-align: center;

  .container {
    position: relative;
    z-index: 1;
  }

  &__graphic {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 362px;
    height: 362px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      border: 1px solid rgba(255, 255, 255, .1);
      border-radius: 50%;
      transform: translate(-50%, -50%);
      content: "";
    }

    &::before {
      width: 450px;
      height: 450px;
    }

    &::after {
      width: 600px;
      height: 600px;
    }

    img {
      opacity: .1;
      border-radius: 50%;
    }
  }

  &__intro {
    text-align: center;

    @include screen-above(505px) {
      max-width: 505px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 32px;
    }

    @include screen-above(1024px) {
      margin-bottom: 122px;
    }

    @include screen-above(1280px) {
      margin-bottom: 160px;
    }
  }

  &__grid {
    position: relative;
    display: grid;
    grid-gap: 35px;
    grid-template-columns: 1fr;

    @include screen-above(1024px) {
      grid-gap: 50px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include screen-between(1280px, 1440px) {
      grid-gap: 75px;
    }

    @include screen-above(1440px) {
      grid-gap: 100px;
    }
  }

  &__grid-item {
    &--text {
      max-width: 505px;
      margin: 0 auto;
      align-self: center;
      text-align: center;

      @include screen-above(1024px) {
        max-width: 100%;
        text-align: left;
      }
    }
  }

  &__circle {
    opacity: 0;
  }

  @include screen-between(1024px, 1280px) {
    padding: 60px 0 138px;
  }

  @include screen-between(1280px, 1440px) {
    padding: 92px 0 212px;
  }

  @include screen-above(1440px) {
    padding: 129px 0 238px;
  }
}
