.technology {
  text-align: center;
  padding: 0 0 72px;

  &__grid {
    margin-top: 32px;
    display: grid;
    grid-gap: 48px;
    grid-template-columns: repeat(3, 1fr);

    @include screen-below(1024px) {
      grid-template-columns: 1fr;
    }

    @include screen-between(1280px, 1440px) {
      margin-top: 50px;
      grid-gap: 71px;
    }

    @include screen-above(1440px) {
      margin-top: 68px;
      grid-gap: 95px;
    }
  }

  &__grid-item {
    overflow: hidden;

    h4 {
      margin-top: 32px;

      @include screen-between(1280px, 1440px) {
        margin-top: 50px;
      }

      @include screen-above(1440px) {
        margin-top: 75px;
      }
    }

    p {
      margin-bottom: 0;

      @include screen-below(1024px) {
        max-width: 505px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  @include screen-between(1280px, 1440px) {
    padding: 0 0 108px;
  }

  @include screen-above(1440px) {
    padding: 0 0 124px;
  }

  &__circle {
    opacity: 0;
  }
}
