.careers {
  text-align: center;
  padding-bottom: 144px;

  h2 {
    margin-bottom: 52px;
  }

  &__item {
    text-align: left;

    &:not(:last-of-type) {
      margin-bottom: 25px;
    }
  }

  &__job-title,
  &__button {
    padding: 43px 30px;
  }

  &__job-title {
    font-size: 1rem;
    color: var(--white);
    display: block;
    line-height: 1;
    text-transform: uppercase;

    span {
      color: var(--gray);
      margin-left: 8px;

      @include screen-below(1024px) {
        display: none;
      }

      @include screen-above(1024px) {
        margin-left: 16px;
      }
    }

    @include screen-below(1024px) {
      text-align: center;
    }

    @include screen-above(600px) {
      border-top: var(--border);
      border-left: var(--border);
      border-bottom: var(--border);
    }

    @include screen-below(600px) {
      border: var(--border);
    }
  }

  @include screen-below(1280px) {
    padding-bottom: 108px;
  }

  @include screen-below(1024px) {
    padding-bottom: 72px;
  }
}