.careers {
  padding-bottom: 144px;

  h2 {
    margin-bottom: 52px;
  }

  &__item {
    text-align: left;

    &:not(:last-of-type) {
      margin-bottom: 25px;
    }
  }

  &__job-title,
  &__button {
    padding: 43px 30px;
  }

  &__job-title {
    font-weight: 700;
    color: var(--white);
    display: block;
    line-height: 1;

    @include screen-below($tablet) {
      text-align: center;
    }

    @include screen-above(600px) {
      border-top: var(--border);
      border-left: var(--border);
      border-bottom: var(--border);
    }

    @include screen-below(600px) {
      border: var(--border);
    }
  }

  @include screen-below($laptop-sm) {
    padding-bottom: 108px;
  }

  @include screen-below($tablet) {
    padding-bottom: 72px;
  }
}

.career {
  h2 {
    margin-top: 40px;
  }

  .button {
    display: inline-block;
    padding: 20px 40px;
    margin-top: 30px;
  }

  &__quick-facts {
    margin-bottom: 40px;
    list-style: none;

    li {
      padding: 20px;
      text-align: center;

      &:not(:last-of-type) {
        border-right: var(--border);
      }
    }

    span {
      display: block;
      margin-bottom: 7px;
      color: var(--white);
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &__content {
    max-width: 85ch;
    margin: auto;
  }

  &__benefits {
    grid-gap: 20px;
    padding: 0;
    list-style-position: inside;
  }
}
