.career {
  .button {
    display: inline-block;
    padding: var(--spacing-1) var(--spacing-3);
    margin-top: var(--spacing-2);
  }

  &__headline {
    margin-top: var(--spacing-3);
  }

  &__quick-facts {
    margin-bottom: var(--spacing-3);
    list-style: none;
  }

  &__list-item {
    padding: var(--spacing-1);

    &:not(:last-of-type) {
      border-right: var(--border);
    }
  }

  &__span {
    display: block;
    margin-bottom: 7px;
    color: var(--white);
    font-weight: var(--weight-bold);
  }

  &__content {
    max-width: 85ch;
    margin: auto;
  }

  &__benefits {
    gap: var(--spacing-1);
    padding: 0;
    list-style-position: inside;
  }
}
