.container {
  width: 95%;
  max-width: 1245px;
  margin-left: auto;
  margin-right: auto;

  &--page {
    max-width: 800px;
  }

  @include screen-above(1440px) {
    width: 100%;
    padding: 0;
  }
}