.form {
  grid-gap: 20px;
  max-width: 80ch;
  margin: 20px auto auto;

  input,
  textarea {
    width: 100%;
    padding: 20px;
    color: inherit;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    border: var(--border);
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  button {
    grid-column: span 1;
    padding: 20px;
  }

  &__message {
    @include screen-above($tablet) {
      grid-column: span 2;
    }
  }

  @include screen-below($tablet) {
    grid-template-columns: 1fr;
    max-width: unset;
  }
}
