.form {
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-1);
  max-width: 80ch;
  margin: auto;

  input,
  textarea,
  select {
    width: 100%;
    margin: 0;
    color: var(--white);
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    border: var(--border);
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;

    &:focus {
      outline: 1px solid var(--yellow);
      outline-offset: -1px;
    }

    &::placeholder {
      color: var(--gray);
      opacity: 1;
    }
  }

  input,
  textarea {
    padding: var(--spacing-1) 25px;
  }

  textarea {
    resize: vertical;
  }

  select {
    padding: var(--spacing-1);
  }

  button {
    grid-column: span 1;
    padding: var(--spacing-1);
  }

  &__label {
    display: block;
    width: 100%;
    color: var(--black);
    text-align: left;
  }

  &__resume,
  &__select,
  &__message {
    @include screen-above($tablet) {
      grid-column: span 2;
    }
  }

  &__select {
    i {
      @include absolute(26px, 25px, null, null);
      padding: 3px;
      border: solid var(--yellow);
      border-width: 0 3px 3px 0;
      pointer-events: none;
      transform: rotate(45deg);
    }
  }

  @include screen-below($tablet) {
    grid-template-columns: 1fr;
    max-width: unset;
  }
}

.custom-file-input {
  cursor: pointer;

  span {
    @include absolute(0, 0, 0, 0);
    z-index: 5;
    padding: var(--spacing-1) 25px;
    color: var(--white);
    background-color: var(--black);
    border: var(--border);

    &::before {
      @include absolute(0, 0, 0, auto);
      z-index: 6;
      height: 100%;
      display: block;
      padding: var(--spacing-1);
      color: var(--black);
      background-color: var(--yellow);
      text-transform: uppercase;
      letter-spacing: .15em;
      transition: background-color var(--animation-duration) ease-in-out;
      content: "Browse";
    }

    @include hover {
      &::before {
        background-color: var(--gray);
      }
    }
  }
}
