.form {
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 80ch;
  margin: auto;

  input,
  textarea,
  select {
    width: 100%;
    margin: 0;
    color: var(--white);
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    border: var(--border);
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;

    &:focus {
      outline: 1px solid var(--yellow);
    }

    &::placeholder {
      color: var(--white);
      opacity: 1;
    }
  }

  input,
  textarea {
    padding: 20px 25px;
  }

  select {
    padding: 20px;
  }

  button {
    grid-column: span 1;
    padding: 20px;
  }

  &__resume,
  &__select,
  &__message {
    @include screen-above($tablet) {
      grid-column: span 2;
    }
  }

  &__select {
    position: relative;

    i {
      position: absolute;
      top: 26px;
      right: 25px;
      padding: 3px;
      border: solid var(--yellow);
      border-width: 0 3px 3px 0;
      pointer-events: none;
      transform: rotate(45deg);
    }
  }

  @include screen-below($tablet) {
    grid-template-columns: 1fr;
    max-width: unset;
  }
}
