.grid {
  display: grid;

  &--careers {
    grid-template-columns: 4fr 1fr;
    grid-row-gap: 25px;

    @include screen-below($tablet) {
      grid-template-columns: 2fr 1fr;
    }

    @include screen-below($portrait) {
      grid-template-columns: 1fr;
      grid-row-gap: 0;
    }
  }

  &--header {
    grid-template-columns: auto auto;

    @include screen-above($tablet) {
      justify-content: space-between;
    }
    
    @include screen-below($tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--hero {
    grid-template-columns: 2fr 1fr 1fr 1fr;

    @include screen-below($desktop-sm) {
      grid-template-columns: 2fr 1fr 1fr;
    }

    @include screen-below($laptop-sm) {
      grid-template-columns: 2fr 1fr;
    }

    @include screen-below($tablet) {
      grid-template-columns: 1fr;
    }
  }

  &--mission {
    grid-gap: 35px;
    grid-template-columns: 1fr;

    @include screen-above($tablet) {
      grid-gap: 50px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include screen-between($laptop-sm, $desktop-sm) {
      grid-gap: 75px;
    }

    @include screen-above($desktop-sm) {
      grid-gap: 100px;
    }
  }

  &--technology {
    grid-gap: 95px;
    grid-template-columns: repeat(3, 1fr);

    @include screen-between($laptop-sm, $desktop-sm) {
      grid-gap: 71px;
    }

    @include screen-below($tablet) {
      grid-template-columns: 1fr;
    }
  }

  &--pagination {
    grid-template-columns: repeat(2, 1fr);
  }

  &--footer {
    grid-template-columns: 1fr 98px 1fr;
    grid-gap: 20px;

    @include screen-below($laptop-sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include screen-below($tablet) {
      grid-template-columns: 1fr;
    }
  }
}