.grid {
  display: grid;

  &--careers {
    grid-template-columns: 4fr 1fr;
    row-gap: 25px;

    @include screen-below($tablet) {
      grid-template-columns: 2fr 1fr;
    }

    @include screen-below($portrait) {
      row-gap: 0;
    }
  }

  &--header {
    grid-template-columns: auto auto;

    @include screen-above($tablet) {
      justify-content: space-between;
    }

    @include screen-below($tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--hero {
    grid-template-columns: 2fr 1fr 1fr 1fr;

    @include screen-below($desktop-sm) {
      grid-template-columns: 2fr 1fr 1fr;
    }

    @include screen-below($laptop-sm) {
      grid-template-columns: 2fr 1fr;
    }
  }

  &--mission {
    gap: 35px;
    grid-template-columns: 1fr;

    @include screen-above($tablet) {
      gap: 50px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include screen-between($laptop-sm, $desktop-sm) {
      gap: 75px;
    }

    @include screen-above($desktop-sm) {
      gap: 100px;
    }
  }

  &--technology {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-6);
  }

  &--two-column {
    grid-template-columns: repeat(2, 1fr);
  }

  &--three-column {
    grid-template-columns: repeat(3, 1fr);
  }

  &--list {
    gap: var(--spacing-2-3);
  }

  &--footer {
    grid-template-columns: 1fr 98px 1fr;
    gap: var(--spacing-1);

    @include screen-below($laptop-sm) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--one-col-mobile {
    @include screen-below($tablet) {
      grid-template-columns: 1fr;
    }
  }
}
