.grid {
  display: grid;

  &--two-column {
    grid-template-columns: repeat(2, 1fr);
  }

  &--three-column {
    grid-template-columns: repeat(3, 1fr);
  }

  &--list {
    gap: var(--spacing-2-3);
  }

  &--one-col-mobile {
    @include screen-below($tablet) {
      grid-template-columns: 1fr;
    }
  }
}
