.hero {
  position: relative;
  z-index: 1;
  text-align: center;

  h1 {
    padding-top: 270px;

    @include screen-below($desktop-sm) {
      padding-top: 203px;
    }

    @include screen-below($tablet) {
      padding-top: 135px;
    }
  }

  &__subheading {
    display: block;
    padding-bottom: 220px;
    color: var(--gray);
    text-transform: uppercase;

    @include screen-below($desktop-sm) {
      padding-bottom: 165px;
    }

    @include screen-below($tablet) {
      padding-bottom: 110px;
    }

    @include screen-below($portrait) {
      padding-bottom: 55px;
    }
  }

  &__background {
    @include absolute(0, 0, 0, 0);
    @include size(100%);
    @include background-cover('/images/weyland-hero.jpg');
    z-index: -1;
  }

  &__grid-item {
    padding: 43px 30px;
    order: 0;
    color: var(--white);
    text-align: center;
    border-top: var(--border);
    border-left: var(--border);
    border-bottom: var(--border);
    text-transform: uppercase;

    span {
      color: var(--gray);
    }

    &--span2 {
      @include font-size($h4-font-sizes);

      @include screen-below($tablet) {
        border-right: var(--border);
      }
    }

    &--operation-founded {
      @include font-size($h5-font-sizes);

      @include screen-below($laptop-sm) {
        display: none;
      }
    }

    &--operation-colonist {
      @include font-size($h5-font-sizes);

      @include screen-below($desktop-sm) {
        display: none;
      }
    }

    &--operation-cta {
      color: var(--black);
    }

    @include screen-above(1300px) {
      padding: 43px 58px;
    }
  }
}
