.hero {
  position: relative;
  z-index: 1;
  text-align: center;

  h1 {
    padding-top: #{create-fluid-value(135px, 270px)};
  }

  &__subheading {
    display: block;
    padding-bottom: #{create-fluid-value(55px, 220px)};
    color: var(--gray);
    font-weight: var(--weight-normal);
    text-transform: uppercase;
  }

  &__background {
    @include absolute(0, 0, 0, 0);
    @include size(100%);
    overflow: hidden;
    z-index: -1;
  }

  &__background-image {
    --animation-duration: 80s;
    @include size(100%);
    object-fit: cover;
    animation-name: zoom;
    animation-duration: var(--animation-duration);
    animation-iteration-count: 1;
  }

  &__grid-item {
    order: 0;
    color: var(--white);
    text-align: center;
    border-top: var(--border);
    border-left: var(--border);
    border-bottom: var(--border);
    text-transform: uppercase;

    &--span2 {
      @include screen-below($tablet) {
        border-right: var(--border);
      }
    }

    &--operation-founded {
      @include screen-below($laptop-sm) {
        display: none;
      }
    }

    &--operation-colonist {
      @include screen-below($desktop-sm) {
        display: none;
      }
    }

    &--operation-cta {
      a {
        display: block;
        color: var(--black);
      }
    }
  }
}
