.mission {
  padding: 129px 0 238px;

  .container {
    position: relative;
    z-index: 1;
  }

  &__graphic {
    @include absolute(50%, auto, auto, 50%);
    @include size(362px);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    &::before,
    &::after {
      @include absolute(50%, auto, auto, 50%);
      border: var(--border);
      border-radius: 50%;
      transform: translate(-50%, -50%);
      content: "";
    }

    &::before {
      @include size(450px);

      @include screen-below($laptop-sm) {
        @include size(338px);
      }
    }

    &::after {
      @include size(600px);

      @include screen-below($laptop-sm) {
        @include size(450px);
      }
    }

    img {
      opacity: .2;
      border-radius: 50%;
    }

    @include screen-below($laptop-sm) {
      @include size(272px);
    }

    @include screen-below($tablet) {
      display: none;
    }
  }

  &__intro {
    text-align: center;

    @include screen-above(505px) {
      max-width: 505px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 32px;
    }

    @include screen-above($tablet) {
      margin-bottom: 122px;
    }

    @include screen-above($laptop-sm) {
      margin-bottom: 160px;
    }
  }

  &__grid {
    position: relative;
  }

  &__grid-item {
    &--text {
      max-width: 505px;
      margin: 0 auto;
      align-self: center;
      text-align: center;

      @include screen-above($tablet) {
        max-width: 100%;
        text-align: left;
      }
    }
  }

  @include screen-below($laptop-sm) {
    padding: 97px 0 179px;
  }

  @include screen-below($tablet) {
    padding: 65px 0 90px;
  }
}
