.mission {
  padding: 129px 0 238px;
  text-align: center;

  .container {
    position: relative;
    z-index: 1;
  }

  &__graphic {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 362px;
    height: 362px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      border: var(--border);
      border-radius: 50%;
      transform: translate(-50%, -50%);
      content: "";
    }

    &::before {
      width: 450px;
      height: 450px;

      @include screen-below(1280px) {
        width: 338px;
        height: 338px;
      }
    }

    &::after {
      width: 600px;
      height: 600px;

      @include screen-below(1280px) {
        width: 450px;
        height: 450px;
      }
    }

    img {
      opacity: .1;
      border-radius: 50%;
    }

    @include screen-below(1280px) {
      width: 272px;
      height: 272px;
    }

    @include screen-below(1024px) {
      display: none;
    }
  }

  &__intro {
    text-align: center;

    @include screen-above(505px) {
      max-width: 505px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 32px;
    }

    @include screen-above(1024px) {
      margin-bottom: 122px;
    }

    @include screen-above(1280px) {
      margin-bottom: 160px;
    }
  }

  &__grid {
    position: relative;
    display: grid;
    grid-gap: 35px;
    grid-template-columns: 1fr;

    @include screen-above(1024px) {
      grid-gap: 50px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include screen-between(1280px, 1440px) {
      grid-gap: 75px;
    }

    @include screen-above(1440px) {
      grid-gap: 100px;
    }
  }

  &__grid-item {
    &--text {
      max-width: 505px;
      margin: 0 auto;
      align-self: center;
      text-align: center;

      @include screen-above(1024px) {
        max-width: 100%;
        text-align: left;
      }
    }
  }

  @include screen-below(1280px) {
    padding: 97px 0 179px;
  }

  @include screen-below(1024px) {
    padding: 65px 0 90px;
  }
}
