.page {
  header {
    margin: 0 0 2rem;
  }

  h1 {
    line-height: 1;
  }

  time {
    display: block;
    margin-top: 11px;
    font-size: .875rem;
  }

  p {
    font-size: 1rem;

    &:first-of-type {
      margin-top: 0;
    }
  }
}