.page {
  h1 {
    line-height: 1;
  }

  time {
    display: block;
    margin-top: 11px;
  }

  img {
    margin: 20px auto;
  }

  p,
  ul,
  ol {
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
  }

  ul,
  ol {
    list-style-position: inside;
  }
}
