.pagination {
  margin-top: var(--spacing-7);
  border-top: var(--border);

  @include screen-below($tablet) {
    margin-top: var(--spacing-6);
  }

  &::before {
    @include absolute(0, null, null, 50%);
    @include size(1px, 100%);
    z-index: 2;
    background-color: var(--black);
    transform: translateX(-50%);
    content: "";
  }

  &__item {
    display: block;
    padding: var(--spacing-3-4) 0;

    &--next {
      grid-column: 2 / -1;
    }
  }
}
