.pagination {
  position: relative;
  margin-top: 98px;
  border-top: var(--border);
  border-bottom: var(--border);

  &::before {
    @include absolute(0, auto, auto, 50%);
    @include size(1px, 100%);
    background-color: var(--border-color);
    transform: translateX(-50%);
    content: '';
  }

  @include screen-below($tablet) {
    margin-top: 74px;
  }
}

.pagination-item {
  padding: 45px 0;
  justify-self: start;
  text-transform: uppercase;

  &--next {
    text-align: right;
    grid-column: 2 / -1;
    justify-self: end;
  }

  span {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    color: var(--gray);
  }
}
