.tab-pattern {
  &__grid {
    align-items: start;
    column-gap: var(--spacing-1);

    @include screen-above($tablet) {
      grid-template-columns: 1fr 2fr;
    }
  }

  &__tablist {
    display: flex;
    flex-direction: column;
  }

  &__tab {
    grid-template-columns: 16px 1fr;
    column-gap: var(--spacing-0);
    align-items: center;
    color: inherit;
    line-height: 1;

    &[aria-selected="true"] {
      color: var(--black);
      background-color: var(--yellow);
    }

    @include hover {
      outline: 1px solid var(--yellow);
      outline-offset: -1px;
    }
  }

  &__panel {
    &:not(.is-visible) {
      display: none;
    }
  }

  &__panel-header {
    color: var(--black);
    font-size: rem(16);
    font-weight: var(--weight-normal);
    line-height: 1;
    letter-spacing: normal;
  }

  &__link {
    display: inline-block;
    margin-top: var(--spacing-1);
  }
}
