.technology {
  padding: 0 0 var(--spacing-6-7);

  h2 {
    margin-bottom: var(--spacing-7);
  }

  &__grid {
    margin-top: var(--spacing-4-5);
  }

  &__grid-item {
    span {
      display: block;
      margin-top: var(--spacing-6-7);
      color: var(--white);
      text-transform: uppercase;
    }

    p {
      margin-bottom: 0;

      @include screen-below($tablet) {
        max-width: 505px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__image {
    @include size(275px);
    position: relative;
    margin: auto;

    &::before {
      @include absolute(50%, null, null, 50%);
      @include size(350px);
      border: var(--border);
      border-radius: 50%;
      transform: translate(-50%, -50%);
      content: "";

      @include screen-below($laptop-sm) {
        @include size(263px);
      }
    }

    img {
      border-radius: 50%;
    }

    @include screen-below($laptop-sm) {
      @include size(206px);
    }
  }
}
