.technology {
  padding: 0 0 124px;

  h2 {
    margin-bottom: 120px;

    @include screen-below($desktop-sm) {
      margin-bottom: 90px;
    }
  }

  &__grid {
    margin-top: 68px;

    @include screen-between($laptop-sm, $desktop-sm) {
      margin-top: 50px;
    }
  }

  &__grid-item {
    span {
      display: block;
      margin-top: 128px;
      color: var(--white);
      text-transform: uppercase;

      @include screen-below($desktop-sm) {
        margin-top: 96px;
      }

      @include screen-below($laptop-sm) {
        margin-top: 64px;
      }
    }

    p {
      margin-bottom: 0;

      @include screen-below($tablet) {
        max-width: 505px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__image {
    @include size(275px);
    position: relative;
    margin: auto;

    &::before {
      @include size(350px);
      position: absolute;
      top: 50%;
      left: 50%;
      border: var(--border);
      border-radius: 50%;
      transform: translate(-50%, -50%);
      content: "";

      @include screen-below($laptop-sm) {
        @include size(263px);
      }
    }

    img {
      border-radius: 50%;
    }

    @include screen-below($laptop-sm) {
      @include size(206px);
    }
  }

  @include screen-below($desktop-sm) {
    padding: 0 0 94px;
  }

  @include screen-below($tablet) {
    padding: 0 0 62px;
  }
}
