.mission {
  padding: #{create-fluid-value(65px, 130px)} 0 #{create-fluid-value(90px, 238px)};

  &__graphic {
    @include absolute(50%, null, null, 50%);
    @include size(362px);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    &::before,
    &::after {
      @include absolute(50%, null, null, 50%);
      border: var(--border);
      border-radius: 50%;
      transform: translate(-50%, -50%);
      content: "";
    }

    &::before {
      @include size(450px);

      @include screen-below($laptop-sm) {
        @include size(338px);
      }
    }

    &::after {
      @include size(600px);

      @include screen-below($laptop-sm) {
        @include size(450px);
      }
    }

    img {
      opacity: .5;
      border-radius: 50%;
    }

    @include screen-below($laptop-sm) {
      @include size(272px);
    }

    @include screen-below($tablet) {
      display: none;
    }
  }

  &__intro {
    @include screen-above(505px) {
      max-width: 505px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 32px;
    }

    @include screen-above($tablet) {
      margin-bottom: 122px;
    }

    @include screen-above($laptop-sm) {
      margin-bottom: 160px;
    }
  }

  &__grid {
    gap: #{create-fluid-value(25px, 100px)};
    grid-template-columns: 1fr;

    @include screen-above($tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__grid-item {
    &--text {
      max-width: 505px;
      margin: 0 auto;
      align-self: center;
      text-align: center;

      @include screen-above($tablet) {
        max-width: 100%;
        text-align: left;
      }
    }
  }
}
