.technology {
  padding: 0 0 var(--spacing-6-7);

  &__headline {
    margin-bottom: var(--spacing-7);
  }

  &__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-6);
    margin-top: var(--spacing-4-5);
  }

  &__subheadline {
    margin-top: var(--spacing-6-7);
  }

  &__description {
    margin-bottom: 0;

    @include screen-below($tablet) {
      max-width: 505px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__image {
    @include size(275px);
    margin: auto;

    &::before {
      @include absolute(50%, null, null, 50%);
      @include size(350px);
      border: var(--border);
      border-radius: 50%;
      transform: translate(-50%, -50%);
      content: "";

      @include screen-below($laptop-sm) {
        @include size(263px);
      }
    }

    img {
      border-radius: 50%;
    }

    @include screen-below($laptop-sm) {
      @include size(206px);
    }
  }
}
