.mission {
  padding: 72px 0;
  text-align: center;

  .container {
    position: relative;
    z-index: 1;
  }

  &__graphic {
    display: none;
    opacity: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -1;

    @include screen-between(1024px, 1280px) {
      top: 40%;
      left: 50%;
      width: 500px;
      height: 500px;
    }

    @include screen-above(1024px) {
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include screen-above(1280px) {
      width: 600px;
      height: 600px;
    }
  }

  &__intro {
    text-align: center;

    @include screen-above(505px) {
      max-width: 505px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 61px;
    }

    @include screen-above(1024px) {
      margin-bottom: 122px;
    }

    @include screen-above(1280px) {
      margin-bottom: 160px;
    }
  }

  &__grid {
    position: relative;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 1fr);

    @include screen-between(1280px, 1440px) {
      grid-gap: 75px;
    }

    @include screen-below(1440px) {
      grid-gap: 100px;
    }
  }

  &__grid-item {
    &--text {
      align-self: center;
      text-align: left;
    }
  }

  &__circle {
    opacity: 0;
  }

  @include screen-between(1280px, 1440px) {
    padding: 108px 0;
  }

  @include screen-above(1440px) {
    padding: 144px 0;
  }
}
