{{ define "main" }}

<section class="careers spacing relative gradient-lines">
  <div class="container">

    <div class="internal-header center">
      <h1>{{ .Title }}</h1>
    </div>

    <ol class="unstyled-list">

      {{ range .Pages }}

        <li class="careers__item relative">
          <div class="careers__row grid grid--careers grid--one-col-mobile">

            <h2 class="careers__job-title letter-spacing h3">
              {{ .Title }}
            </h2>

            <a
              class="button careers__button pseudo-link"
              href="{{ .Permalink }}"
              aria-label="Learn more about the {{ .Title }} job opening."
            >
              View Listing
            </a>

          </div>
        </li>

      {{ end }}

    </ol>

  </div>
</section>

{{ end }}
