<section class="hero">
  <div class="container gsap-fade-in">

    <div>
      <h1>{{ .Site.Title }}</h1>
      <h2 class="hero__subheading h3 letter-spacing">Building Better Worlds</h2>
    </div>

    <ul class="unstyled-list grid grid--hero grid--one-col-mobile">
      <li class="hero__grid-item hero__grid-item--span2 h4 letter-spacing hero-padding">
        Current Operation: <span>{{ .Site.Params.currentOperation }}</span>
      </li>
      <li class="hero__grid-item hero__grid-item--operation-founded h5 letter-spacing hero-padding">
        Founded: <span>{{ .Site.Params.founded }}</span>
      </li>
      <li class="hero__grid-item hero__grid-item--operation-colonist h5 letter-spacing hero-padding">
        Colonists: <span>{{ .Site.Params.colonists }}</span>
      </li>
      <li class="button hero__grid-item hero__grid-item--operation-cta">
        <a class="hero-padding" href="/apply/" aria-label="Apply to work for Weyland-Yutani">
          Apply Today
        </a>
      </li>
    </ul>

  </div>
  <div class="hero__background">

    <img class="hero__background-image" src="/images/weyland-hero.jpg" alt="">

  </div>
</section>
