<section class="mission" id="mission">
  <div class="relative container z-1">

    <div class="center">
      <h2>Our Mission</h2>
    </div>

    <p class="mission__intro">
      The Weyland-Yutani Corporation applies science,
      technology and an unparralleled global network of
      resources to the pursuit of Building Better Worlds
    </p>

    <div class="grid grid--mission mission__grid">

      <div class="mission__grid-item mission__grid-item--text">
        <p>
          As the largest company on the planet, we have taken
          it upon ourselves to constantly explore, expand and
          discover what lies beyond our own heavens. Every day,
          our biologists, military scientists, chemical engineers,
          geologists, mechanics and pilots work across our solar
          system to advance human interests and life. From Peter
          Weyland’s first commercially viable cybernetic android
          to the invention of the atmospheric processor, the
          Weyland-Yutani Corporation has continued to innovate
          and work towards the realization of a better world.
        </p>
      </div>

      <div class="mission__grid-item">
        <img data-src="/images/mission-image.jpg" alt="A barren landscape.">
      </div>

      <div class="mission__graphic">
        <img data-src="/images/ground-texture-small.jpg" alt="">
      </div>

    </div>

  </div>
</section>
