<section class="technology" id="technology">
  <div class="container">

    <div class="center">
      <h2>Our Technology</h2>
    </div>

    <ul class="unstyled-list grid grid--technology grid--one-col-mobile technology__grid">

      {{ range $.Site.Data.technologies }}

        <li class="center technology__grid-item">

          <div class="technology__image">
            <img data-src="{{ .image }}" alt="">
          </div>

          <h3 class="technology__headline h4">{{ .title }}</h3>

          <p class="technology__description">{{ .blurb }}</p>

        </li>

      {{ end }}

    </ul>

  </div>
</section>
