<section class="technology" id="technology">
  <div class="container">

    <header class="center">
      <h2>Our Technology</h2>
    </header>

    <div class="grid grid--technology technology__grid">

      {{ range $.Site.Data.technologies }}
        <div class="technology__grid-item center">
          <div class="technology__image">
            <img src="{{ .image }}" alt="">
          </div>
          <span class="h4">{{ .title }}</span>
          <p>{{ .blurb }}</p>
        </div>
      {{ end }}

    </div>

  </div>
</section>
