<section class="technology" id="technology">
  <div class="container">

    <div class="center">
      <h2>Our Technology</h2>
    </div>

    <ul class="unstyled-list grid grid--technology grid--one-col-mobile technology__grid">

      {{ range $.Site.Data.technologies }}
        <li class="technology__grid-item center">
          <div class="technology__image">
            <img data-src="{{ .image }}" alt="">
          </div>
          <span class="h4">{{ .title }}</span>
          <p>{{ .blurb }}</p>
        </li>
      {{ end }}

    </ul>

  </div>
</section>
