*,
*::after,
*::before {
  @include box-sizing(border-box);
}

::selection { background: $yellow; }

img,
svg {
	max-width: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: $gray;
  background-color: $black;
}

h1,
h2,
h4 {
  color: $white;
}

h4 {
  font-weight: 400;
}

.letter-spacing {
  letter-spacing: .15rem;
}