.unstyled-button {
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  appearance: none;
  background-color: transparent;
  border: 0;
  text-align: inherit;
}

.button {
  max-width: 100%;
  margin: 0 -.15em 0 0;
  display: block;
  color: var(--black);
  background-color: var(--yellow);
  font-family: inherit;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .15em;
  cursor: pointer;
  transition: background-color var(--animation-duration) ease-in-out;

  &:active {
    background-color: var(--black);
  }

  @include hover {
    color: var(--black);
    background-color: var(--gray);
  }
}
