.button {
  @include font-size($h4-font-sizes);
  max-width: 100%;
  margin: 0 -.15em 0 0;
  display: block;
  color: var(--black);
  background-color: var(--yellow);
  font-family: inherit;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .15em;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;

  &:hover {
    color: var(--black);
    background-color: var(--gray);
  }

  &:active {
    background-color: var(--black);
  }
}
