.button {
  @include transition(background-color 300ms ease-in-out);
  @include font-size($h4-font-sizes);
  max-width: 100%;
  display: block;
  color: var(--black);
  background-color: var(--yellow);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .15em;
  margin: 0 -.15em 0 0;

  &:hover {
    background-color: var(--gray);
  }

  &:active {
    background-color: var(--black);
  }
}