.visually-hide {
  @include size(1px);
  position: absolute;
  clip-path: inset(50%);
  overflow: hidden;
}

.relative {
  position: relative;
}

.unstyled-list {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

.text-center {
  text-align: center;
}

.letter-spacing {
  letter-spacing: .15rem;
}

.z-1 {
  z-index: 1;
}

.spacing {
  padding: #{create-fluid-value(135px, 186px)} 0 #{create-fluid-value(72px, 108px)};
}

.hero-padding {
  padding: var(--spacing-3) var(--spacing-5);
}

.internal-header {
  position: relative;
  padding-bottom: var(--spacing-3);
  margin-bottom: var(--spacing-5);
  border-bottom: var(--border);

  &::before,
  &::after {
    @include size(5%, 1px);
    background-color: var(--yellow);
    content: "";
  }

  &::before {
    @include absolute(null, null, -1px, 0);
  }

  &::after {
    @include absolute(null, 0, -1px, null);
  }

  time {
    display: block;
  }
}

.border {
  border: var(--border);
}

.content {
  padding: var(--spacing-4) var(--spacing-2);
}

.absolute-link {
  @include absolute(0, 0, 0, 0);
}

.pseudo-link {
	text-decoration: none;

	&::before {
    @include absolute(0, null, null, 0);
		@include size(100%);
    z-index: 2;
		content: "";
	}
}

.gradient-lines {
  background: radial-gradient( circle closest-corner at center 0%, rgba(255, 211, 2, .05), rgba(7, 8, 12, 1) 75% ) no-repeat;
  z-index: 2;

  &::before,
  &::after {
    @include absolute(0, null, null, 0);
    @include size(100%);
    z-index: -1;
    content: "";
  }

  &::before {
    background: repeating-linear-gradient(0deg, rgba(7, 8, 12, .15), rgba(7, 8, 12, .15) 2px, rgba(7, 8, 12, 0) 2px, rgba(7, 8, 12, 0) 4px);
  }

  &::after {
    background: radial-gradient(circle at 50% 50%, rgba(7, 8, 12, 1), rgba(7, 8, 12, 0)), url("data:image/svg+xml,%3Csvg viewBox='0 0 1440 1440' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    mix-blend-mode: saturation;
  }
}

.panel-padding {
  padding: var(--spacing-1) var(--spacing-2);
}
