.letter-spacing {
  letter-spacing: .15rem;
}

.spacing {
  padding: 186px 0 108px;

  @include screen-below($tablet) {
    padding: 135px 0 72px;
  }
}

.internal-header {
  margin-bottom: 92px;

  @include screen-below($tablet) {
    margin-bottom: 70px;
  }
}

.logo {
  margin: 0;

  .st0 {
    fill: var(--yellow);
  }

  .st1 {
    fill: var(--gray);
  }

  &--header {
    place-self: start;
    display: inline-block;
    transition: opacity 300ms ease-in-out;

    svg {
      @include size(134px, 34px);
    }

    path {
      transition: fill 300ms ease-in-out;
    }

    &:hover {
      .st1 {
        fill: var(--yellow);
      }

      .st0 {
        fill: var(--gray);
      }
    }
  }

  &--footer {
    svg {
      @include size(98px, 26px);
    }
  }
}

.center {
  text-align: center;
}

.visually-hide {
  position: absolute;
  top: 0;
  left: -9999px;
  clip: rec(0, 0, 0, 0);
  pointer-events: none;
}

.unstyled-list {
  padding: 0;
  margin: 0;
}

.custom-file-input {
  position: relative;
  cursor: pointer;

  span {
    @include absolute(0, 0, 0, 0);
    z-index: 5;
    padding: 20px 25px;
    color: var(--white);
    background-color: var(--black);
    border: var(--border);

    &::before {
      @include absolute(0, 0, 0, auto);
      z-index: 6;
      height: 100%;
      display: block;
      padding: 20px;
      color: var(--black);
      background-color: var(--yellow);
      text-transform: uppercase;
      letter-spacing: .15em;
      transition: background-color 300ms ease-in-out;
      content: "Browse";
    }

    &:hover {
      &::before {
        background-color: var(--gray);
      }
    }
  }
}
