.letter-spacing {
  letter-spacing: .15rem;
}

.relative {
  position: relative;
}

.z-1 {
  z-index: 1;
}

.spacing {
  padding: #{create-fluid-value(135px, 186px)} 0 #{create-fluid-value(72px, 108px)};
}

.hero-padding {
  padding: 43px 30px;

  @include screen-above(1300px) {
    padding: 43px 58px;
  }
}

.internal-header {
  margin-bottom: var(--spacing-5-6);

  time {
    display: block;
  }
}

.logo {
  margin: 0;

  .st0 {
    fill: var(--yellow);
  }

  .st1 {
    fill: var(--gray);
  }

  &--header {
    place-self: start;
    display: inline-block;
    transition: opacity 300ms ease-in-out;

    svg {
      @include size(134px, 34px);
    }

    path {
      transition: fill 300ms ease-in-out;
    }

    &:hover {
      .st1 {
        fill: var(--yellow);
      }

      .st0 {
        fill: var(--gray);
      }
    }
  }

  &--footer {
    svg {
      @include size(98px, 26px);
    }
  }
}

.center {
  text-align: center;
}

.visually-hide {
  @include size(1px);
  position: absolute;
  clip-path: inset(50%);
  overflow: hidden;
}

.unstyled-list {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

.custom-file-input {
  position: relative;
  cursor: pointer;

  span {
    @include absolute(0, 0, 0, 0);
    z-index: 5;
    padding: var(--spacing-1) 25px;
    color: var(--white);
    background-color: var(--black);
    border: var(--border);

    &::before {
      @include absolute(0, 0, 0, auto);
      z-index: 6;
      height: 100%;
      display: block;
      padding: var(--spacing-1);
      color: var(--black);
      background-color: var(--yellow);
      text-transform: uppercase;
      letter-spacing: .15em;
      transition: background-color 300ms ease-in-out;
      content: "Browse";
    }

    @include hover {
      &::before {
        background-color: var(--gray);
      }
    }
  }
}

.border {
  border: var(--border);
}

.content {
  padding: var(--spacing-4) var(--spacing-2);
}

.absolute-link {
  @include absolute(0, 0, 0, 0);
}
