:root {
  --white: #fff;
  --black: #07080c;
  --gray: #c8c8c8;
  --yellow: #ffd302;
  --transparent: rgba(255, 255, 255, .5);
  --border: 1px solid rgba(255, 255, 255, .1);
  --border-color: rgba(255, 255, 255, .1);

  // Timing
  --animation-duration: 300ms;

  // Font Weights
  --weight-normal: 300;
  --weight-bold: 700;

  // Spacing Sizes
  --spacing-0: #{create-fluid-value(8px, 10px)};
  --spacing-1: #{create-fluid-value(16px, 20px)};
  --spacing-2: #{create-fluid-value(24px, 30px)};
  --spacing-3: #{create-fluid-value(32px, 40px)};
  --spacing-4: #{create-fluid-value(40px, 50px)};
  --spacing-5: #{create-fluid-value(48px, 60px)};
  --spacing-6: #{create-fluid-value(64px, 80px)};
  --spacing-7: #{create-fluid-value(80px, 100px)};
  --spacing-8: #{create-fluid-value(144px, 180px)};
  --spacing-9: #{create-fluid-value(160px, 200px)};
  --spacing-0-1: #{create-fluid-value(8px, 20px)};
  --spacing-1-2: #{create-fluid-value(16px, 30px)};
  --spacing-2-3: #{create-fluid-value(24px, 40px)};
  --spacing-3-4: #{create-fluid-value(32px, 50px)};
  --spacing-4-5: #{create-fluid-value(40px, 60px)};
  --spacing-5-6: #{create-fluid-value(48px, 80px)};
  --spacing-6-7: #{create-fluid-value(64px, 100px)};
  --spacing-7-8: #{create-fluid-value(80px, 180px)};
  --spacing-8-9: #{create-fluid-value(144px, 200px)};
}

*,
*::after,
*::before {
  box-sizing: border-box;

  @media (prefers-reduced-motion: reduce) {
    animation-duration: .05s !important;
    animation-iteration-count: 1;
    transition-duration: .01ms;
    scroll-behavior: auto;
  }
}

::selection {
  color: var(--black);
  background: var(--yellow);
}

img,
svg {
	max-width: 100%;
}

img {
  display: block;
}

body {
  margin: 0;
  color: var(--gray);
  background-color: var(--black);
  font-family: 'Source Sans 3', sans-serif;
  font-size: 16px;
  font-weight: var(--weight-normal);
}

a:not([class]) {
  color: var(--white);
  letter-spacing: 3px;
  text-decoration: none;
  transition: color var(--animation-duration) ease-in-out;

  @include hover {
    color: var(--transparent);
  }
}

a:not([class]),
button {
  &::-moz-focus-inner {
    border: 0;
  }

  &:not([class]) {
    text-decoration-skip-ink: auto;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:focus,
  &:focus-visible {
    outline: 2px solid var(--yellow);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}
