:root {
  --white: #fff;
  --black: #07080c;
  --gray: #c8c8c8;
  --yellow: #ffd302;
  --transparent: rgba(255, 255, 255, .5);
  --border: 1px solid rgba(255, 255, 255, .1);
  --border-color: rgba(255, 255, 255, .1);

  // Font Weights
  --weight-normal: 300;
  --weight-bold: 700;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

::selection {
  color: var(--black);
  background: var(--yellow);
}

img,
svg {
	max-width: 100%;
}

img {
  display: block;
}

body {
  margin: 0;
  color: var(--gray);
  background-color: var(--black);
  font-family: 'Source Sans 3', sans-serif;
  font-size: 16px;
  font-weight: var(--weight-normal);
}

a {
  color: var(--white);
  letter-spacing: 3px;
  text-decoration: none;
  transition: color 300ms ease-in-out;

  @include hover {
    color: var(--transparent);
  }
}

a,
button {
  &::-moz-focus-inner {
    border: 0;
  }

  &:not([class]) {
    text-decoration-skip-ink: auto;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:focus,
  &:focus-visible {
    outline: 2px dotted var(--gray);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}
