:root {
  --white: #fff;
  --black: #07080c;
  --gray: #c8c8c8;
  --yellow: #ffd302;
  --transparent: rgba(255, 255, 255, .5);
  --border: 1px solid rgba(255, 255, 255, .1);
}

*,
*::after,
*::before {
  @include box-sizing(border-box);
}

::selection { 
  color: var(--black);
  background: var(--yellow);
}

img,
svg {
	max-width: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: var(--gray);
  background-color: var(--black);
}

h1,
h2,
h4 {
  color: var(--white);
}

h4 {
  font-weight: 400;
}

a {
  color: var(--white);
  letter-spacing: 3px;
  text-decoration: none;
  transition: color 300ms ease-in-out;

  &:hover {
    color: var(--transparent);
  }
}