:root {
  --white: #fff;
  --black: #07080c;
  --gray: #c8c8c8;
  --yellow: #ffd302;
  --transparent: rgba(255, 255, 255, .5);
  --border: 1px solid rgba(255, 255, 255, .1);
  --border-color: rgba(255, 255, 255, .1);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  &:focus {
    outline: 2px dotted var(--gray);
  }
}

::selection {
  color: var(--black);
  background: var(--yellow);
}

img,
svg {
	max-width: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 0;
  color: var(--gray);
  background-color: var(--black);
}

a {
  color: var(--white);
  letter-spacing: 3px;
  text-decoration: none;
  transition: color 300ms ease-in-out;

  &:hover {
    color: var(--transparent);
  }
}
