h1 {
  font-size: #{create-fluid-value(24px, 60px)};
}

h2 {
  font-size: #{create-fluid-value(24px, 48px)};
}

.h3 {
  font-size: #{create-fluid-value(18px, 24px)};
}

.h4 {
  font-size: rem(16);
  letter-spacing: .15em;
  margin: 0 -.15em 0 0;

  @include screen-above(768px) {
    letter-spacing: .2em;
    margin: 0 -.2em 0 0;
  }
}

.h5 {
  font-size: rem(14);
}

p {
  font-size: rem(14);
  line-height: 2;

  @include screen-above(768px) {
    letter-spacing: .15em;
    margin-right: -.15em;
    margin-left: 0;
  }
}

h1,
h2,
.h3 {
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: .2em;
  margin: 0 -.2em 0 0;

  @include screen-above(1440px) {
    letter-spacing: .4em;
    margin: 0 -.4em 0 0;
  }
}

h1,
h2,
.h3 {
  color: var(--white);
}

h1,
h2,
.h3 {
  text-transform: uppercase;
}
