// Maps

$h1-font-sizes: (
  null: 24px,
  500px: 2rem,
  800px: 2.5rem,
  1024px: 3rem,
  1280px: 3.5rem,
  1440px: 3.75rem
);

$h2-font-sizes: (
  null: 24px,
  480px: 1.5rem,
  640px: 2rem,
  800px: 2.5rem,
  1280px: 3rem
);

$h3-font-sizes: (
  null: 18px,
  480px: 1.375rem,
  640px: 1.5rem,
  800px: 1.5625rem
);

$h4-font-sizes: (
  null: 16px,
  480px: 1rem
);

$h5-font-sizes: (
  null: 14px,
  480px: .875rem
);

$p-font-sizes: (
  null: 14px,
  480px: .875rem
);

$career-font-sizes: (
  null: 16px,
  768px: 1.135rem,
  1024px: 1.2rem,
  1280px: 1.375rem,
  1440px: 1.5rem
);
