{{ define "main" }}

<section class="hero">
  <div class="container">

    <header>
      <h1>Weyland-Yutani Corp</h1>
      <span class="hero__subheading h3 letter-spacing">Building Better Worlds</span>
    </header>

    <div class="hero__grid">
      <div class="hero__grid-item hero__grid-item--span2 letter-spacing">
        Current Operation: <span>Acheron</span></h4>
      </div>
      <div class="hero__grid-item hero__grid-item--operation-founded letter-spacing">
        Founded: <span>2157</span>
      </div>
      <div class="hero__grid-item hero__grid-item--operation-colonist letter-spacing">
        Colonists: <span>158</span>
      </div>
      <a class="button hero__grid-item hero__grid-item--operation-cta" href="#">
        Apply Today
      </a>
    </div>

  </div>
  <div class="hero__background animated hinge fadeIn"></div>
</section>

<section class="mission" id="mission">
  <div class="container">

    <header>
      <h2>Our Mission</h2>
    </header>

    <p class="mission__intro">The Weyland-Yutani Corporation applies science, technology and an unparralleled global network of resources to the pursuit of Building Better Worlds</p>

    <div class="mission__grid">

      <div class="mission__grid-item mission__grid-item--text">
        <p>As the largest company on the planet, we have taken it upon ourselves to constantly explore, expand and discover what lies beyond our own heavens. Every day, our biologists, military scientists, chemical engineers, geologists, mechanics and pilots work across our solar system to advance human interests and life. From Peter Weyland’s first commercially viable cybernetic android to the invention of the atmospheric processor, the Weyland-Yutani Corporation has continued to innovate and work towards the realization of a better world.</p>
      </div>

      <div class="mission__grid-item">
        <img src="/images/mission-image.jpg" alt="Image of a barren landscape.">
      </div>

      <div class="mission__graphic">
        <img src="/images/ground-texture-small.jpg" alt="">
      </div>

    </div>

  </div>
</section>

<section class="technology" id="technology">
  <div class="container">

    <header>
      <h2>Our Technology</h2>
    </header>

    <div class="technology__grid">

      <div class="technology__grid-item">
        <svg class="technology-svg" xmlns="http://www.w3.org/2000/svg" width="350" height="350" viewBox="0 0 350 350">
          <pattern id="tech1" patternUnits="userSpaceOnUse" width="100%" height="100%" x="38px" y="38px">
            <image width="275" height="275" xlink:href="{{ .Site.BaseURL }}/images/loader-small.jpg">
          </pattern>
          <circle cx="175" cy="175" r="125" style="fill:url(#tech1);"/>
          <g class="technology__circle">
            <circle cx="175" cy="175" r="174.5" stroke="#FFF" opacity=".1"/>
          </g>
        </svg>
        <h4>Security</h4>
        <p>The Weyland-Yutani Corporation applies science, technology and an unparralleled global network of resources to the pursuit of Building Better Worlds</p>
      </div>

      <div class="technology__grid-item">
        <svg class="technology-svg" xmlns="http://www.w3.org/2000/svg" width="350" height="350" viewBox="0 0 350 350">
          <pattern id="tech3" patternUnits="userSpaceOnUse" width="100%" height="100%" x="38px" y="38px">
            <image width="275" height="275" xlink:href="{{ .Site.BaseURL }}/images/ship-small.jpg">
          </pattern>
          <circle cx="175" cy="175" r="125" style="fill:url(#tech3);"/>
          <g class="technology__circle">
            <circle cx="175" cy="175" r="174.5" stroke="#FFF" opacity=".1"/>
          </g>
        </svg>
        <h4>Transportation</h4>
        <p>The Weyland-Yutani Corporation applies science, technology and an unparralleled global network of resources to the pursuit of Building Better Worlds</p>
      </div>

      <div class="technology__grid-item">
        <svg class="technology-svg" xmlns="http://www.w3.org/2000/svg" width="350" height="350" viewBox="0 0 350 350">
          <pattern id="tech2" patternUnits="userSpaceOnUse" width="100%" height="100%" x="38px" y="38px">
            <image width="275" height="275" xlink:href="{{ .Site.BaseURL }}/images/processor-small.jpg">
          </pattern>
          <circle cx="175" cy="175" r="125" fill="#FFF" style="fill:url(#tech2);"/>
          <g class="technology__circle">
            <circle cx="175" cy="175" r="174.5" stroke="#FFF" opacity=".1"/>
          </g>
        </svg>
        <h4>Terraforming</h4>
        <p>The Weyland-Yutani Corporation applies science, technology and an unparralleled global network of resources to the pursuit of Building Better Worlds</p>
      </div>
      
    </div>

  </div>
</section>

<section class="careers">
  <div class="container">

    <header>
      <h2>Careers</h2>
    </header>

    <article class="careers__row">
      {{ range .Pages }}
        <header class="careers__job-title letter-spacing">
          <h3>{{ .Title }}</h3>
        </header>
        <a class="button careers__button" href="{{ .Permalink }}">Read More</a>
      {{ end }}
    </article>

  </div>
</section>
  
{{ end }}