.footer {
  padding-bottom: 108px;

  nav {
    &:first-of-type {
      order: 1;

      @include screen-below(1440px) {
        order: 2;
      }
    }

    &:last-of-type {
      order: 3;

      @include screen-above(1024px) {
        justify-self: end;
      }
    }

    @include screen-below(1024px) {
      text-align: center;
    }
  }

  ul {
    @include screen-above(1024px) {
      display: inline-grid;
      grid-auto-flow: column;
      grid-gap: 25px;
    }
  }

  li {
    list-style: none;

    &:not(:last-of-type) {
      @include screen-below(1024px) {
        margin-bottom: 20px;
      }
    }
  }

  a {
    font-size: .875rem;
    text-transform: uppercase;
  }

  &__logo {
    order: 2;

    @include screen-between(1024px, 1280px) {
      grid-column: span 2;
    }

    @include screen-below(1280px) {
      order: 1;
      margin: auto;
    }
  }

  @include screen-below(1024px) {
    padding-bottom: 72px;
  }
}
