.main-header {
  @include size(100%, 100px);
  padding: var(--spacing-2) 0;
  position: fixed;
  background: transparent;
  overflow-y: visible;
  will-change: transform;
  transition: transform 300ms ease-in-out;
  z-index: 9;

  &.unpinned {
    transform: translateY(-100px);
  }

  &.pinned {
    background: rgba(0, 0, 0, .95);
    transform: translateY(-100px);
  }

  &__skip-to-content {
    position: fixed;
    top: -5em;
    left: 50%;
    padding: 16px var(--spacing-1);
    transform: translateX(-50%);
    transition: top 300ms ease-in-out;

    &:focus {
      top: 0;
    }
  }

  &__button {
    justify-self: end;
    padding: 0;
    color: var(--white);
    background: none;
    font-size: rem(16);
    border: 0;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: color 300ms ease-in-out;

    &:hover {
      color: var(--transparent);
    }

    @include screen-above(1024px) {
      display: none;
    }
  }
}

.open {
  @include screen-below(1024px) {
    height: auto;
    background: rgba(0, 0, 0, .95);
  }
}

.logo {
  &--header {
    display: inline-block;
    align-self: start;
    justify-self: start;
    transition: opacity 300ms ease-in-out;

    svg {
      @include size(134px, 34px);
    }

    path {
      transition: fill 300ms ease-in-out;
    }

    &:hover {
      .st1 {
        fill: var(--yellow);
      }

      .st0 {
        fill: var(--gray);
      }
    }
  }
}

.main-nav {
  display: block;
  z-index: 9;
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
  pointer-events: none;
  will-change: transform;

  li {
    position: relative;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    border-bottom: var(--border);

    &:last-child {
      a {
        margin: 0;
      }
    }

    @include screen-above(1024px) {
      display: inline-block;
      border-bottom: 0;
    }
  }

  a {
    display: block;
    position: relative;
    padding: 10px 0 38px;
    margin: 0 32px 0 0;
    font-size: rem(14);

    &:hover {
      &::before {
        @include size(100%, 1px);
        position: absolute;
        bottom: -1px;
        left: 0;
        background-color: var(--yellow);
        content: '';
      }
    }

    &::before {
      @include size(100%, 1px);
      position: absolute;
      bottom: -1px;
      left: 0;
      background-color: transparent;
      transition: background-color 300ms ease-in-out;
      content: '';
    }

    &[aria-current="page"] {
      color: rgba(255, 255, 255, .5);

      &::before {
        background-color: var(--yellow);
      }
    }

    @include screen-below(1024px) {
      padding: 32px 0;
      margin: 0;
    }
  }

  @include screen-above(1024px) {
    border-bottom: var(--border);
    height: inherit;
    opacity: 1;
    pointer-events: all;
  }

  @include screen-below(1024px) {
    grid-column: span 2;
  }

  &.nav-open {
    height: inherit;
    opacity: 1;
    pointer-events: all;
  }
}

.body-modal-open {
  width: 100%;
  overflow: hidden;
}
